<template>
  <div class="login">
    <h1>login component</h1>
    <div class="container">
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-header">
            <h3>Sign In</h3>
            <div class="d-flex justify-content-end social_icon">
              <span>
                <i class="fab fa-facebook-square"></i>
              </span>
              <span>
                <i class="fab fa-google-plus-square"></i>
              </span>
              <span>
                <i class="fab fa-twitter-square"></i>
              </span>
            </div>
          </div>
          <div class="card-body">
            <form @submit="gotoLogin()">
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" required placeholder="username" v-model="user.name">

              </div>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input type="password" class="form-control" required placeholder="password" v-model="user.password">
              </div>
              <div class="row align-items-center remember">
                <input type="checkbox" required>Remember Me
              </div>
              <div class="form-group">
                <button class="btn float-right login_btn">
                  Login
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center links">
              Don't have an account?
              <a href="#">
                <router-link to="/register">Sign Up</router-link>
              </a>
            </div>
            <!--<div class="d-flex justify-content-center">
                  <a href="#">Forgot your password?</a>
                </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  props: {

  },
  data() {
    return {
      user: {
        name: null,
        password: null
      }
    }
  },
  mounted() {
    //  api.getDetails();
  },
  methods: {
    gotoLogin() {
      window.console.log(this.user)
      if (this.user.name === null && this.user.password === null) {
        alert("please enter details");
      } else {
        setTimeout(() => {
          
          // const checkRegisterUser = JSON.parse(window.localStorage.getItem('registeredUsers'))
          let checkValidRegistrationUser = true

          // checkRegisterUser.forEach((userReg) => {
          //   if (this.user.name === userReg.username) {
          //     checkValidRegistrationUser = true
          //   }
          // });
          if(checkValidRegistrationUser){
          window.sessionStorage.setItem('userData', JSON.stringify(this.user))
          this.$router.push({ name: 'home' })
          } else{
            alert("Yor are not an authorised user")
          }
          //  this.$router.push({path:'/app'})
        }, 2000)
      }
    },
    goToRegistration() {
      this.$router.push({ name: 'register' })
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
html,
body {
  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
</style>
