<template>
    <table class="table table-bordered">
      <th class="thead-dark">Name</th>
      <th class="thead-dark">Id</th>
      <th class="thead-dark"> </th>
      <button @click="show = !show">test</button>
      <div v-if="show">show</div>
      <tr v-for= "(employee, index) in users()" :key="index" :class="{ bgClr : (index+1) % 2 !== 0, bgClrEv : (index+1) % 2 === 0}"  >
        <td>{{employee.title}}</td>
        <td>{{employee.id}}</td>
        <td><button class="btn btn-primary" @click="employeeDetails(employee.id)">Employee details</button></td>
      </tr>
     
    </table>
</template>

<script>
export default {
  name: 'mainBody',
   data() {
    return {
      show:false,
      employees : [
        {name : "Santhosh", id : 1},
        {name : "raju", id : 2},
        {name : "sai", id : 3},
        {name : "sachin", id : 4},
        {name : "sagar", id : 5},
        {name : "virat", id : 6},
        {name : "rohith", id : 7},
        {name : "dhoni", id : 8},
        {name : "mani", id : 9},
        {name : "sreenath", id : 10},
        {name : "surya", id : 11},
        {name : "madhu", id : 12}
      ]
    }
  },
mounted(){
  this.$store.dispatch('getUsers');
},
  methods: {
    employeeDetails(index){
      window.console.log(index);
      // this.employees.splice(index,1);
      // URL PARAMS
     // this.$router.push({name:'detailsssss', params : {'employeeeeeeid':index}})

     // QUERY PARAMS
      this.$router.push({name:'detailsQ', query : {'employeeeeeeid':index}})
    },
    users(){
      return this.$store.getters.getUsersGetters;
    }
  },
  computed:{
    // users(){
    //   return this.$store.getters.getUsersGetters;
    // }
  }
}
</script>
  
<style>
.bgClr {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: red;
  margin-top: 60px;
}
.bgClrEv {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: green;
  margin-top: 60px;
}
</style>


        
