<template>
    <div>
        <div>
                <b-card-text>
                    <h1>
                   Page Not found
                    </h1>
                </b-card-text>

                <b-card-text>
                    <router-link to="/"><a>Go to Login</a></router-link>   </b-card-text>

        </div>
    </div>
</template>
        
<script>
export default {
    name: 'pageNotFound'

}
</script>
        
<style>

</style>
        
