<template>
  <div class="login">
    <h1>Register component</h1>
    <div class="container">
      <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
          <h4 class="card-title mt-3 text-center">Create Account</h4>
          <p class="text-center">Get started with your free account</p>
          <p class="divider-text">
            <span class="bg-light">OR</span>
          </p>
          <form @submit="registerUser()">
            <label>Name</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input name="" class="form-control" required placeholder="Full name" type="text" v-model="user.name">
              <div class="invalid-feedback">
                Please provide user name.
              </div>
            </div>
            <label>Username</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input name="" class="form-control" required placeholder="UserName" type="text" v-model="user.username">
            </div>
            <!-- form-group// -->
            <label>Email Address</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input name="" class="form-control" required placeholder="Email address" type="email" v-model="user.email">
            </div>
            <!-- form-group end.// -->
            <label>Password</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input class="form-control" required placeholder="Create password" type="password" v-model="user.password">
            </div>
            <!-- form-group// -->
            <label>Confirm Password</label>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input class="form-control" required placeholder="Repeat password" type="password" v-model="user.conpassword">
            </div>
            <!-- form-group// -->
            <!--<div class="form-group">-->
            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
            <!--</div>-->
            <!-- form-group// -->
            <p class="text-center">Have an account?
              <a href="">
                <router-link to="/">Log In</router-link>
              </a>
            </p>
          </form>
        </article>
      </div>
      <!-- card.// -->

    </div>
  </div>
</template>

<script>
export default {
  name: 'register',
  props: {

  },
  data() {
    return {
      user: {
        name: null,
        password: null,
        username: null,
        email: null,
        conpassword: null
      },
      userDetails: []
    }
  },
  mounted() {
    //  api.getDetails();
  },
  methods: {
    registerUser() {
      window.console.log(JSON.stringify(this.user));
      // this.userDetails.push(this.user)
      let getStorage = localStorage.getItem('registeredUsers');
      let oldStorage = []
      if(getStorage){
         oldStorage = JSON.parse(getStorage)
          oldStorage.push(this.user)
      } else {
        oldStorage.push(this.user)
      }
      window.localStorage.setItem('registeredUsers', JSON.stringify(oldStorage));
      window.console.log(oldStorage)
      this.$router.push({ name: 'home' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

label {
  text-align: left;
  width: 100%;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}

.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}
</style>
